@page "/employees"

<PageTitle>Our employees</PageTitle>

@using MadislolincWeb.Data
@inject EmployeeDataFetcher EmployeeData

<h1>Employees and Contact</h1>

<p>Employees are listed down below:</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div class="employee-grid">
        @foreach (var employee in employees)
        {
        <div class="employeebox">
            <photo src="@GetImageString(employee)"> </photo>
            <name>@employee.Lastname</name>
            <name>@employee.Firstname</name>
            <email href = "mailto: @employee.Email">@employee.Email</email>
            <phone>Mobile: @employee.Phone</phone>
        </div>
        }   
    </div>
    
}

@code {
    private Employee[] employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeData.GetEmployeesAsync();
    }
    private string GetImageString(Employee employee)
    {
        return $"data/employeeimages/{employee.ImageName}";
    }
}
