@page "/employees"

<PageTitle>Our employees</PageTitle>

@using MadislolincWeb.Data
@inject EmployeeDataFetcher EmployeeData

<h1>Employees and Contact</h1>

<p>Employees are listed down below:</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div class="employee-grid">
        @foreach (var employee in employees)
        {
        <div class="employeebox">
            <img src="@GetImageString(employee)" class="e-photo"> 
            <div class="employeedata">
                <h1 class="e-name">@employee.Lastname @employee.Firstname</h1>
                <a href = "mailto: @employee.Email" class="e-email">@employee.Email</a>
                <p class="e-phone">Mobile: @employee.Phone</p>
            </div>
        </div>
        }   
    </div>
    
}

@code {
    private Employee[] employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeData.GetEmployeesAsync();
    }
    private string GetImageString(Employee employee)
    {
        return $"data/employeeimages/{employee.ImageName}";
    }
}
